.navbar .navbar-brand img {
    width: 50px;
    height: auto;
}
.navbar .navbar-nav .nav-link {
    transition: all 0.3s ease-in-out;
  
}
.navbar .navbar-nav .nav-link:hover {
    border: 0;
    box-shadow: inset 0 0 3px black, 0 0 15px #dc3545, 0 0 15px black;

}
.navbar-brand p {
    bottom: auto;
    left: -6px;
    right: auto;
}
.navbar-inverse .navbar-nav>.active>a {
    background:#EFD9C1;
    color: #A9B7C0 !important;
  }

/* ---------------- baner styles ------------- */
.vh-80 {
    min-height: 80vh;
}
.bg-banner1 {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://media.giphy.com/media/xT9IgN8YKRhByRBzMI/giphy.gif) no-repeat center / cover  fixed;
    min-height: 80vh;
}
.banner-title {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
}
/* --------------------- card styles ------------------- */
.card,
.card-body {
    border-radius: 10px;
    width: auto;
}
.card-body:hover {
    box-shadow: inset 0 0 3px black, 0 0 15px #dc3545, 0 0 15px black;
    transform: translate3D(0,-1px,0) scale(1.03);
}
.card-img-top, {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* adding hovering effetcts on img */
.card img {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.card:hover img {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}
/* !! */
.mt-30 {
    margin-top: 30px;
}
.mt-30-off {
    margin-top: -30px;
}
.custom-box {
    background-color: #343a40;
}
/* background-red class is used in jquerry to show up when some of the filters is clicked */
.background-red {
    background-color: #dc3545 !important;
    color: black !important;
}

.fa-check-circle {
    display: block;
}
/* ------------------ student page styles --------------------- */
::placeholder {
    font-size: 15px;
    
  }

.custom-p {
    margin: 6rem 0;
}
.nav-shadow {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}


















@media (max-width: 600px) {
    .hiddenMobile {
        display: none;
    }
}

@media (min-width: 601px) {
    .hiddenMobile {
        display: block;
    }
}